<!--The content below is only a placeholder and can be replaced.-->
<div class="align-center">
    <h2>User Login</h2>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <input matInput placeholder="Username..." [(ngModel)]="loginRequest.username" name="username" required>
        <input matInput type="password" placeholder="Password" [(ngModel)]="loginRequest.password" name="password"
            required>
        <div class="btn-div">
            <button type="submit" class="login-btn">
                Login
            </button>
        </div>
    </form>
</div>